@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker&display=swap');

body {
    background-image: url('https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3149&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px black solid;
    margin: 20%;
    padding: 200px 0px 200px 0px;
}

.app h1 {
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    padding: 1%;
    border: 5px black solid;
    font-size: 300%;
    text-align: center;
    margin: 5%;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
}

.todo-list button {
    width: 50%;
    height: 20%;
}

.item {
    background-color: #FFFF66;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    margin: 20px;
    box-shadow: 10px 10px 5px black;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    
}

.item.completed {
    text-decoration: line-through;
    background-color: #F0E68C;
  }