@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker&display=swap');
@keyframes tilt {
    50% {
        transform: rotate(5deg);
    }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3149&q=80');
    background-repeat: repeat;
    background-size: cover;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px black solid;
    margin: 20%;
    padding: 5%;
}

.app h1 {
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    padding: 1%;
    border: 5px black solid;
    font-size: 300%;
    text-align: center;
    margin: 5%;
}

.to-do-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
}

.item {
    background-color: #FFFF66;
    width: 200px;
    height: 0;
    padding-bottom: 200px;
    margin: 10px;
    box-shadow: 10px 10px 5px black;
    font-family: 'Architects Daughter', cursive;
    font-size: 100%;
    text-align: center;
    
}

.item:hover {
    animation-name: tilt;
    animation-duration: 1s;
}

.item.completed {
    text-decoration: line-through;
    background-color: #F0E68C;
  }


/* for mobile size */
@media (max-width: 800px) {
    .app {
        border: none;
        margin: 10%;
        padding: 10%;
    }

    .app h1 {
        font-size: 100%;
    }

    .item {
        width: 100px;
        height: 0;
        padding-bottom: 100px;
        font-size: 50%;
    }
}
